body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#start-container,
#game-over-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option {
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.option:hover {
    background-color: #2980b9;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

#timer {
    font-size: 16px;
    margin-top: 10px;
}

#next-button {
    display:none;

}

#submit-button {
    margin-top: 10px;
}

