body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#start-container,
#game-over-container. {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
}

.question {
    font-size;
    margin-bottom;
}

.options {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.option {
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

